[user]
  name  = James Shipton
  email = ionysis@gmail.com

[alias]
  a    = add
  aa   = add -A
  ap   = add --patch

  b    = branch
  ba   = branch -a
  bd   = branch -d
  bdd  = branch -D

  co   = checkout
  cob  = checkout -b

  cam  = commit -am
  cm   = commit -m
  cv   = commit -v
  cach = commit --amend -C HEAD

  cp   = cherry-pick

  d    = diff
  ds   = diff --staged

  fx   = "!sh -c 'git commit -m \"fixup! $(if [[ $0 =~ ^[0-9]+$ ]]; then LINE=$(($0-1)); else LINE=0; fi; git log HEAD~$((LINE)) -1 --format='\\''%s'\\'' $@)\"'"

  l    = !sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" master.. | cat -n'
  la   = !sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" --graph -n 45 | cat -n'

  m    = merge
  mom  = merge origin/master

  poc  = !sh -c 'git push origin $(git rev-parse --abbrev-ref HEAD)'
  pocf = !sh -c 'git push origin -f $(git rev-parse --abbrev-ref HEAD)'
  pom  = push origin master
  pomp = push origin master:production

  r    = rebase
  ra   = rebase --abort
  rc   = rebase --continue
  ri   = rebase --interactive --autosquash
  rim  = rebase --interactive --autosquash master
  ril  = "!sh -c 'if [[ $0 =~ ^[0-9]+$ ]]; then LINE=HEAD~$(($(($0-1)))); else LINE=$0; fi; git rebase --interactive --autosquash $LINE'"

  rt   = reset
  rth  = reset --hard
  rts  = reset --soft

  s   = status
  sh  = "!sh -c 'if [[ $0 =~ ^[0-9]+$ ]]; then LINE=$(($0-1)); else LINE=0; fi; git show HEAD~$(($LINE))'"

[core]
  excludesfile = ~/.gitignore
  editor = vim

[github]
  user = jamesshipton

[init]
  templatedir = ~/.git_template

[color]
  ui = true

