[user]
  name  = James Shipton
  email = ionysis@gmail.com

[alias]
  a    = add
  aa   = add -A
  ap   = add --patch

  b    = branch
  ba   = branch -a
  bd   = branch -d
  bdd  = branch -D

  co   = checkout
  cob  = checkout -b

  cam  = commit -am
  cm   = commit -m
  cv   = commit -v
  cach = commit --amend -C HEAD

  cp   = cherry-pick

  d    = diff
  ds   = diff --staged

  fx  = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -

  l    = !sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" master.. | cat -n'
  la   = !sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" --graph -n 40 | cat'

  m    = merge
  mom  = merge origin/master

  pom  = push origin master
  pomp = push origin master:production

  r    = rebase
  ra   = rebase --abort
  rc   = rebase --continue
  ri   = rebase --interactive --autosquash

  rt   = reset
  rth  = reset --hard
  rts  = reset --soft

  s   = status

  sh  = show

[core]
  excludesfile = ~/.gitignore
  editor = vim

[github]
  user = jamesshipton

[init]
  templatedir = ~/.git_template

[color]
  ui = true

