[user]
  name  = James Shipton
  email = ionysis@gmail.com

[alias]
  a    = add
  aa   = add -A
  ap   = add --patch

  b    = branch
  bm   = branch --merged master
  bn   = branch --no-merged master
  ba   = branch -a
  bd   = branch -d
  bdd  = branch -D

  co   = checkout
  cob  = checkout -b

  cam  = commit -am
  cm   = commit -m
  cv   = commit -v
  ca   = commit --amend
  cach = commit --amend -C HEAD

  cp   = cherry-pick

  d    = diff
  ds   = diff --staged

  f    = fetch --prune
  fa   = fetch --all --prune

  fx   = "!sh -c 'git commit -m \"fixup! $(if [[ $0 =~ ^[0-9]+$ ]]; then LINE=$(($0-1)); else LINE=0; fi; git log HEAD~$((LINE)) -1 --format='\\''%s'\\'' $@)\"'"

  g    = grep -n --break

  l    = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" master.. | cat -n;echo'"
  lc   = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" --graph'"
  la   = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%ae%Creset\" --graph --all'"

  m    = merge
  mom  = merge origin/master
  moc  = "!sh -c 'git merge origin/$(git rev-parse --abbrev-ref HEAD)'"

  poc  = "!sh -c 'git push origin $(git rev-parse --abbrev-ref HEAD)'"
  pocf = "!sh -c 'git push origin -f $(git rev-parse --abbrev-ref HEAD)'"
  pom  = push origin master

  r    = rebase
  ra   = rebase --abort
  rc   = rebase --continue
  ri   = rebase --interactive --autosquash
  rim  = rebase --interactive --autosquash master
  ril  = "!sh -c 'if [[ $0 =~ ^[0-9]+$ ]]; then LINE=HEAD~$(($(($0-1)))); else LINE=$0; fi; git rebase --interactive --autosquash $LINE'"

  rf   = reflog --pretty='%cd %h %gd %gs'

  rt   = reset
  rth  = reset --hard
  rts  = reset --soft

  s   = status
  sh  = "!sh -c 'if [[ $0 =~ ^[0-9]+$ ]]; then LINE=$(($0-1)); else LINE=0; fi; git show HEAD~$(($LINE))'"

  ctags = !.git/hooks/ctags

[core]
  excludesfile = ~/.gitignore
  editor = vim

[github]
  user = jamesshipton

[init]
  templatedir = ~/.git_template

[merge]
  conflictstyle = diff3

[color]
  ui = true

[credential]
  helper = osxkeychain
